<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>Behavioural Competencies</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
    <div th:insert="/fragments/header :: header"></div>
        <div class="text-center bg-color-main text-white" id="competency-container">
            <h1>Analytic</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
            <h3>Researcher</h3>
            <p>Discovery excites your analytical nature and you enjoy gathering information and equipping yourself with knowledge from many sources. When required you can translate research into evidence to facilitate your fact based strategies. The questions you ask naturally evolve as you understand more about the subject matter.</p>
            <h3>Strategic</h3>
            <p>Being analytical isn’t just a state of mind or natural ability, it’s about practice and creating effective steps to help you diagnose the reality of the questions you are posed with. To identify a problem or question and then assume the best answer means to find the right tools, understand how you will analyse data, opinions and arguments, analyse and evaluate and eventually assume solutions.</p>
            <h3>Optimise</h3>
            <p>With any work, you should look for what you could have done better to develop optimised strategies for future problem solving. By analysing our failures and successes we can grow rapidly and become more efficient, eventually becoming well versed in crafting elegant solutions.</p>
            <h3>Implementer</h3>
            <p>Plans are of no use unless you can implement the strategies you have formed. You must be able to act on the execution plan and decisively implement the solutions. Monitoring and controlling is essential and your utilisation of emotional intelligence will help delegation.</p>
            <hr style="background-color:white; height:5px">
            <h1>Independent</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
            <hr style="background-color:white; height:5px">
            <h1>Determined</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
            <hr style="background-color:white; height:5px">
            <h1>Professional</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
            <hr style="background-color:white; height:5px">
            <h1>Studious</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
            <hr style="background-color:white; height:5px">
            <h1>Imaginative</h1>
            <h3>Critical Thinker</h3>
            <p>Being able to decide for yourself what is accurate and what is relevant is core to solving any situation.
                Higher order thinking skills let you step back from situations to discover for yourself what
                resonates as right or wrong, view different angles, identify key points, analyse information and then
                have confidence to put your own viewpoint across without bias. You endeavour to judge the true value
                of statements.</p>
        </div>
    <footer>
        <div th:insert="/fragments/footer :: footer"></div>
    </footer>
    <script th:src="@{webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
    <script th:src="@{webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>
    </body>
</html>