<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:fragment="feedbackInput(feedback)" id="feedbackText">
    <div class="container-fluid text-center">
        <form method="POST" th:action="@{/feedback}">
            <div class="btn-group" role="group" aria-label="User Selection">
                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainee','trainer')" id="traineeBtn"
                       autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="traineeBtn">Trainee</label>

                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainer','trainee')" id="trainerBtn"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="trainerBtn">Trainer</label>
            </div>
            <div id="trainee">
                <div class="btn-group" role="group" aria-label="SSC Selection Trainee">
                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('stopTrainee','startTrainee','continueTrainee')" id="stopTraineeBtn"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="stopTraineeBtn">Stop</label>

                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('startTrainee','stopTrainee','continueTrainee')" id="startTraineeBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="startTraineeBtn">Start</label>

                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('continueTrainee','startTrainee','stopTrainee')" id="continueTraineeBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="continueTraineeBtn">Continue</label>
                </div>

                <textarea id="stopTrainee" th:text="${feedback.traineeStop}" th:value="${feedback.traineeStop}"></textarea>
                <textarea id="startTrainee" th:text="${feedback.traineeStart}" th:value="${feedback.traineeStart}" hidden></textarea>
                <textarea id="continueTrainee"  th:text="${feedback.traineeContinue}" th:value="${feedback.traineeContinue}" hidden></textarea>
            </div>
            <div id="trainer" hidden>
                <div class="btn-group" role="group" aria-label="SSC Trainer Selection">
                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('stopTrainer','startTrainer','continueTrainer')" id="stopTrainerBtn"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="stopTrainerBtn">Stop</label>

                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('startTrainer','stopTrainer','continueTrainer')" id="startTrainerBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="startTrainerBtn">Start</label>

                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('continueTrainer','startTrainer','stopTrainer')" id="continueTrainerBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="continueTrainerBtn">Continue</label>
                </div>

                <textarea id="stopTrainer" readonly></textarea>
                <textarea id="startTrainer" hidden readonly></textarea>
                <textarea id="continueTrainer" hidden readonly></textarea>
            </div>
            <select id="techGrade" th:value="${feedback.technicalGrade}" class="form-control" required>
                <option value="" disabled selected>Technical Grade</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <select id="consultGrade" th:value="${feedback.consultantGrade}" class="form-control" required>
                <option value="" disabled selected>Consultant Grade</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
            </select>
            <textarea hidden th:value="${feedback.feedbackId = #request.getParameter('id')}"></textarea>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
    <script>
        function toggleUser(enabled, disabled) {
            var divEnabled = document.getElementById(enabled);
            var divDisabled = document.getElementById(disabled);
            divEnabled.hidden = false;
            divDisabled.hidden = true;
        }

        function toggleTextBox(enabled, disabled, disabled2) {
            var textboxEnabled = document.getElementById(enabled);
            var textboxDisabled = document.getElementById(disabled);
            var textboxDisabled2 = document.getElementById(disabled2);
            textboxEnabled.hidden = false;
            textboxDisabled.hidden = true;
            textboxDisabled2.hidden = true;
        }
    </script>
</div>
</body>
</html>
