<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div th:fragment="feedbackText" id="feedbackText">
    <div class="container-fluid text-center">
        <th:form>
            <div class="btn-group" role="group" aria-label="Basic example">
                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainee','trainer')" id="traineeBtn"
                       autocomplete="off" checked>
                <label class="btn btn-outline-primary" for="traineeBtn">Trainee</label>

                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainer','trainee')" id="trainerBtn"
                       autocomplete="off">
                <label class="btn btn-outline-primary" for="trainerBtn">Trainer</label>
            </div>
            <div id="trainee">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaStopTrainee','textareaStartTrainee','textareaContinueTrainee')" id="stop"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="stop">Stop</label>

                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaStartTrainee','textareaStopTrainee','textareaContinueTrainee')" id="start"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="start">Start</label>

                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaContinueTrainee','textareaStartTrainee','textareaStopTrainee')" id="continue"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="continue">Continue</label>
                </div>

                <textarea id="textareaStopTrainee"></textarea>
                <textarea id="textareaStartTrainee" hidden></textarea>
                <textarea id="textareaContinueTrainee" hidden></textarea>
            </div>
            <div id="trainer" hidden>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaStopTrainer','textareaStartTrainer','textareaContinueTrainer')" id="stop"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="stop">Stop</label>

                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaStartTrainer','textareaStopTrainer','textareaContinueTrainer')" id="start"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="start">Start</label>

                    <input type="radio" class="btn-check" name="btnradio"
                           onclick="toggleTextBox('textareaContinueTrainer','textareaStartTrainer','textareaStopTrainer')" id="continue"
                           autocomplete="off">
                    <label class="btn btn-outline-primary" for="continue">Continue</label>
                </div>

                <textarea id="textareaStopTrainer"></textarea>
                <textarea id="textareaStartTrainer" hidden></textarea>
                <textarea id="textareaContinueTrainer" hidden></textarea>
            </div>
        </th:form>
    </div>
    <script>
        function toggleUser(enabled, disabled) {
            var divEnabled = document.getElementById(enabled);
            var divDisabled = document.getElementById(disabled);
            divEnabled.hidden = false;
            divDisabled.hidden = true;
        }

        function toggleTextBox(enabled, disabled, disabled2) {
            var textboxEnabled = document.getElementById(enabled);
            var textboxDisabled = document.getElementById(disabled);
            var textboxDisabled2 = document.getElementById(disabled2);
            textboxEnabled.hidden = false;
            textboxDisabled.hidden = true;
            textboxDisabled2.hidden = true;
        }
    </script>
</div>
</body>
</html>
