<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body th:if="${feedback.overdue}" onload="disableEdits()">
<div th:fragment="feedbackInput(feedback)" id="feedbackText">
    <div class="container-fluid text-center">
        <form method="POST" th:object="${feedback}" th:attr="id=${feedback}" th:action="@{/feedback}">
            <div class="btn-group d-flex m-2" role="group" aria-label="User Selection">
                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainee','trainer')" id="traineeBtn"
                       autocomplete="off" checked>
                <label class="btn btn-outline-danger" for="traineeBtn">Trainee</label>

                <input type="radio" class="btn-check" name="btnradioUser"
                       onclick="toggleUser('trainer','trainee')" id="trainerBtn"
                       autocomplete="off">
                <label class="btn btn-outline-danger" for="trainerBtn">Trainer</label>
            </div>
            <div id="trainee">
                <div class="btn-group d-flex m-2" role="group" aria-label="SSC Selection Trainee">
                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('stopTrainee','startTrainee','continueTrainee')" id="stopTraineeBtn"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-danger" for="stopTraineeBtn">Stop</label>

                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('startTrainee','stopTrainee','continueTrainee')" id="startTraineeBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-danger" for="startTraineeBtn">Start</label>

                    <input type="radio" class="btn-check" name="btnradioTrainee"
                           onclick="toggleTextBox('continueTrainee','startTrainee','stopTrainee')"
                           id="continueTraineeBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-danger" for="continueTraineeBtn">Cont.</label>
                </div>
                <br/>
                <div sec:authorize="hasAnyAuthority('ROLE_TRAINER')">
                    <textarea id="stopTrainee" th:field="${feedback.traineeStop}" readonly></textarea>
                    <textarea id="startTrainee" th:field="${feedback.traineeStart}" readonly hidden></textarea>
                    <textarea id="continueTrainee" th:field="${feedback.traineeContinue}" readonly hidden></textarea>
                </div>
                <div sec:authorize="hasAnyAuthority('ROLE_TRAINEE')">
                    <textarea id="stopTrainee" th:field="${feedback.traineeStop}"></textarea>
                    <textarea id="startTrainee" th:field="${feedback.traineeStart}" hidden></textarea>
                    <textarea id="continueTrainee" th:field="${feedback.traineeContinue}" hidden></textarea>
                </div>
            </div>
            <div id="trainer" hidden>
                <div class="btn-group d-flex m-2" role="group" aria-label="SSC Trainer Selection">
                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('stopTrainer','startTrainer','continueTrainer')" id="stopTrainerBtn"
                           autocomplete="off" checked>
                    <label class="btn btn-outline-danger" for="stopTrainerBtn">Stop</label>

                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('startTrainer','stopTrainer','continueTrainer')" id="startTrainerBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-danger" for="startTrainerBtn">Start</label>

                    <input type="radio" class="btn-check" name="btnradioTrainer"
                           onclick="toggleTextBox('continueTrainer','startTrainer','stopTrainer')"
                           id="continueTrainerBtn"
                           autocomplete="off">
                    <label class="btn btn-outline-danger" for="continueTrainerBtn">Cont.</label>
                </div>
                <br/>
                <div sec:authorize="hasAnyAuthority('ROLE_TRAINER')">
                    <textarea id="stopTrainer" th:field="${feedback.trainerStop}" ></textarea>
                    <textarea id="startTrainer" th:field="${feedback.trainerStart}" hidden></textarea>
                    <textarea id="continueTrainer" th:field="${feedback.trainerContinue}" hidden></textarea>
                </div>
                <div sec:authorize="hasAnyAuthority('ROLE_TRAINEE')">
                    <textarea id="stopTrainer" th:field="${feedback.trainerStop}" readonly></textarea>
                    <textarea id="startTrainer" th:field="${feedback.trainerStart}" readonly hidden></textarea>
                    <textarea id="continueTrainer" th:field="${feedback.trainerContinue}" readonly hidden></textarea>
                </div>
            </div>
            <div>
                <label for="techGrade" class="mt-3">Technical Grade</label>
                <select id="techGrade" th:field="${feedback.technicalGrade}" class="form-control my-2" required>
                    <option th:value="A" th:text="A"></option>
                    <option th:value="B" th:text="B"></option>
                    <option th:value="C" th:text="C"></option>
                    <option th:value="D" th:text="D"></option>
                </select>
                <a th:href="@{/competencies}"><label>Consultant Grade</label></a>
                <select id="consultGrade" th:field="${feedback.consultantGrade}" class="form-control my-2" required>
                    <option th:value="A" th:text="A"></option>
                    <option th:value="B" th:text="B"></option>
                    <option th:value="C" th:text="C"></option>
                    <option th:value="D" th:text="D"></option>
                </select>
            </div>
            <input id="saveBtn" type="submit" name="action" class="btn btn-warning mt-2" value="Save">
            <input id="submitBtn" type="submit" name="action" class="btn btn-danger mt-2" value="Submit">
        </form>
    </div>
    <script>
        function toggleUser(enabled, disabled) {
            var divEnabled = document.getElementById(enabled);
            var divDisabled = document.getElementById(disabled);
            divEnabled.hidden = false;
            divDisabled.hidden = true;
        }

        function toggleTextBox(enabled, disabled, disabled2) {
            var textboxEnabled = document.getElementById(enabled);
            var textboxDisabled = document.getElementById(disabled);
            var textboxDisabled2 = document.getElementById(disabled2);
            textboxEnabled.hidden = false;
            textboxDisabled.hidden = true;
            textboxDisabled2.hidden = true;
        }

        function disableEdits() {
            document.getElementById("stopTrainee").readOnly = true;
            document.getElementById("startTrainee").readOnly = true;
            document.getElementById("continueTrainee").readOnly = true;
            document.getElementById("techGrade").disabled = true;
            document.getElementById("consultGrade").disabled = true;
            document.getElementById("saveBtn").hidden = true
            document.getElementById("submitBtn").hidden = true
        }
    </script>
</div>
</body>
</html>
