<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Delete when database is set up -->
    <head>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <!-- Delete End -->
    <body>
        <nav th:fragment="header" class="navbar bg-color-main" id="header">
            <div class="container-fluid text-center">
                <a class="navbar-brand" href="#">
                    <img th:src="@{images/sparta-global-logo-white.svg}" alt="Sparta Global Logo">
                </a>
                <button class="navbar-toggler" id="burger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </body>
</html>