<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Profile</title>
        <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div th:insert="/fragments/header :: header"></div>

        <div class="container text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
        </div>

        <div class="container">
            <label class="profile-label">Name</label>
            <label th:text="${trainee.firstName}"></label><br>

            <label class="profile-label">Email</label>
            <!-- Trainee email from the user entity (may need to do a join) -->
            <label th:text="${user.email}"></label><br>

            <label class="profile-label">Password</label>
            <!-- Trainee password from user entity (may need to do a join) -->
            <label th:text="${user.password}"></label>
            <button class="btn btn-primary">Change password</button>
        </div>

        <div class="container">
            <h1>Stats</h1>
            <table>
                <tbody>
                    <tr>
                        <td>Technical</td>
                        <td th:text=""></td>
                    </tr>
                    <tr>
                        <td>Consultant</td>
                        <td th:text=""></td>
                    </tr>
                    <tr>
                        <td>Average Submission Time</td>
                        <td th:text=""></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <footer>
            <div th:insert="/fragments/footer :: footer"></div>
        </footer>
    </body>
</html>