body {
    /* Main text styling */
    font-family: "Raleway", sans-serif;  
    
    /* Main color */
    /*background-color: #01181b;*/

    /* Button or href color */
    /*color: #e33661;*/

    /* Text color when on dark background */
    /*color: white;*/
}

#header, #footer {
    height: 10vh;
}

li.list-item {
    height: 20px;

}

span.status {
    width: 5px;
    height: inherit;
}

.bg-color-main {
    background-color: #01181b;
}

.bg-color-red {
    background-color: #e33661;
}

.bg-color-green {

}

.bg-color-amber {

}

#header img {
    height: 8vh;
}

section#main-content {
    background-color: white;
}

/*.main-color {*/
/*    background-color: #01181b;*/
/*}*/

a {
    color: #34beef;
}
/* https://fonts.google.com/specimen/Raleway?preview.text_type=custom */

