body {
    /* Main text styling */
    font-family: "Raleway", sans-serif;  
    
    /* Main color */
    /*background-color: #01181b;*/

    /* Button or href color */
    color: #e33661;

    /* Text color when on dark background */
    /*color: white;*/
}

#header, #footer {
    height: 10vh;
    background-color: #01181b;
}

#header img {
    height: 8vh;
}

/*.main-color {*/
/*    background-color: #01181b;*/
/*}*/

a {
    color: #34beef;
}
/* https://fonts.google.com/specimen/Raleway?preview.text_type=custom */

