body {
    /* Main text styling */
    font-family: "Raleway", sans-serif;

    /* Main color */
    /*background-color: #01181b;*/

    /* Button or href color */
    /*color: #e33661;*/

    /* Text color when on dark background */
    /*color: white;*/
}

#header, #footer {
    /*height: 10vh;*/
    height: 41px;
}

li.list-item {
    height: 20px;

}

span.status {
    width: 5px;
    height: inherit;
}

.bg-color-main {
    background-color: #01181b;
}

div#footerBtns a {
    margin: 30px;
}

.bg-color-red {
    background-color: #e33661;
}

.bg-color-green {

}

.bg-color-amber {

}


label.profile-label {
    margin-right: 50px;
}

div#header a img {
    width: 100%;
    height: 41px;
    float: left;
}

li.list-item {
    height: 20px;
}

span.status {
    width: 5px;
    height: inherit;
}

span#menuBtn-container {
    height: 42px;
    background-color: #e33661;
    float: right;
    padding: 5px;
    margin-right: -12px;
}

span#menuBtn-container button {
    background-color: transparent;
    outline: none !important;
    border-style: none;
    color: white;
    padding-top: 4px;
}

.bg-color-main {
    background-color: #01181b !important;
}

div#footerBtns a {
    margin: 0 30px 10px 30px;
}

.bg-color-red {
    background-color: #e33661;
}

.bg-color-green {

}

.bg-color-amber {

}


label.profile-label {
    margin-right: 50px;
}

#headerInner {
    margin-top: -9px;
    top: -5px;
    display: inline-block;
    height: 7vh;
    /*padding-bottom: 10px;*/
}

section#main-content {
    background-color: white;
}

img.competency {
    height: 100%;
    width: 100%;
}

#header img {
    height: 2rem;
    margin-top: 4px;
}

div#navbarNav {
    margin-top: 6px;
    width: 100vw;
    margin-left: -12px;
}

li.nav-item a, li.nav-item input {
    color: white!important;
    font-family: "Raleway", sans-serif;
    font-size: 12px;
    text-decoration: none;
    padding-left: 10px !important;
}

input#logoutBtn {
    color: white !important;
    font-family: "Raleway", sans-serif;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

button#burger {
    color: white;
    height: 20px;
    width: 15px;
    margin-right: 15px;
    float: right;
}

section#main-content {
    background-color: white;
}

img.competency-sm {
    height: 700px;
    width: 90vw;
}

div.modal-content {
    /*margin-top: 50%;*/
}

/*a {*/
/*    color: #34beef;*/
/*}*/
/* https://fonts.google.com/specimen/Raleway?preview.text_type=custom */

