<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Change Password</title>
        <link th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}" th:rel="stylesheet"/>
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}"/>
    </head>
    <body class="bg-color-main">
        <main class="form-signin text-center">
            <img th:src="@{images/sparta-global-logo-white.svg}" alt="Sparta Global Logo" height="100" width="100">
            <div>
                <form method="POST" th:action="@{/change-password}">
                    <div class="container bg-light text-center rounded">
                        <h1 class="text-dark">Change password</h1>
                        <label class="mt-3">
                            <input type="password" name="currentPassword" class="form-control password" placeholder="Current Password" required autofocus>
                            <input type="password" name="newPassword" class="form-control password" placeholder="New Password" required>
                            <input type="password" name="confirmPassword" class="form-control password" placeholder="Confirm Password" required>
                        </label>
                        <div th:if="${param.error}">
                            <div class="alert alert-danger">
                                Invalid password.
                            </div>
                        </div>
                        <input type="submit" id="loginBtn" class="w-100 btn" value="Change">
                    </div>
                </form>
            </div>
        </main>
        <script th:src="@{webjars/popper.js/2.5.4/umd/popper.min.js}"></script>
        <script th:src="@{webjars/bootstrap/5.0.0-beta2/js/bootstrap.min.js}"></script>
    </body>
</html>