<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainers</title>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/5.0.0-beta2/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container mt-5" th:fragment="main_content">
        <h1 class="text-center">Trainers</h1>
        <table class="table table-hover mt-3" id="trainersTable">
            <thead class="text-black-50 font-weight-bold">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Group</th>
<!--                    <th></th>-->
                </tr>
            </thead>
            <tbody>
            <tr th:each="trainer : ${trainers}" class="text-black-50"
                th:attr="data-bs-target=${'#adminEditTrainerModal' + trainer.trainerId}" data-bs-toggle="modal">
                <td th:text="*{trainer.firstName}"></td>
                <td th:text="*{trainer.lastName}"></td>
                <td th:text="*{trainer.group.groupName}"></td>
<!--                <td>-->
<!--                    <a class="btn bg-color-red text-white" name="trainerId" type="submit" th:href="@{/trainers/{Id}(Id = ${trainer.trainerId})}">Profile</a>-->
<!--                </td>-->
<!--                <td>-->
<!--                    <button type="button" class="btn bg-color-red text-white" data-bs-toggle="modal" th:object="${trainer}" data-bs-target="#adminEditTrainerModal">Edit Trainer</button>-->
<!--                </td>-->

            </tr>
            </tbody>
        </table>

        <div class="container text-center mt-5">
            <button type="button" class="btn bg-color-red text-white" data-bs-toggle="modal" data-bs-target="#trainerModal">Add Trainer</button>
            <div class="modal" tabindex="-1" id="trainerModal">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Add a new Trainer</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="#" th:action="@{/add-trainer}" th:object="${newTrainer}" method="post">
                            <div class="modal-body">
                                <div class="container">
                                    <label>
                                        <input class="mt-3 form-control" type="text" name="firstName" placeholder="First Name"/>
                                        <input class="mt-3 form-control" type="text" name="lastName" placeholder="Last Name"/>
                                    </label>

                                    <select id="group-options" class="form-control mt-3" type="Number" name="groupId" required>
                                        <option disabled selected>-- Select Group --</option>
                                        <option th:each="group : ${groups}"
                                                th:value="${group.groupId}"
                                                th:text="${group.groupName}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn bg-color-red text-white">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div th:each="trainer : ${trainers}" th:attr="id=${'adminEditTrainerModal' + trainer.trainerId}"
             aria-hidden="true" class="modal" tabindex="-1" >
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Trainer</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="#" th:action="@{/edit-trainer}" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="trainerId" th:value="*{trainer.trainerId}">
                            <label>First Name</label>
                            <label>
                                <input class="mt-2" type="text" name="firstName" th:value="*{trainer.firstName}">
                            </label></br>

                            <label>Last Name</label>
                            <label>
                                <input class="mt-2" type="text" name="lastName" th:value="*{trainer.lastName}">
                            </label></br>

                            <label>Group</label>
                            <select id="group-options" class="form-control mt-3" type="Number" name="groupId" required>
                                <option th:value="*{trainer.group.groupId}" th:text="*{trainer.group.groupName}" selected>-- Select Group --</option>
                                <option th:each="group : ${allGroups}"
                                        th:unless="${trainer.group.groupName == group.groupName}"
                                        th:value="${group.groupId}"
                                        th:text="${group.groupName}"></option>
                            </select>
                            </br>

<!--                                <input class="btn btn-primary" type="submit" value="Confirm">-->

                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn bg-color-red text-white">Confirm</button>
                        </div>
                    </form>
                    <div class="modal-footer">
                        <form action="#" th:action="@{/remove-trainer}" method="post" >
                            <div class="modal-footer">
                                <input class="mt-2" type="hidden" name="trainerId" th:value="*{trainer.trainerId}"/>
                                <label for="confirmation">I understand upon deletion the information can not be restored.
                                    <input type="checkbox" id="confirmation" name="confirmation" value="true">
                                </label>
                                </br>
                                <input class="btn" type="submit" value="Remove Trainer">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--    <div>-->
<!--        <form action="#" th:action="@{/remove-trainer}" method="post" >-->
<!--            <input class="mt-2" type="number" name="trainerId" placeholder="Trainer Id"/></br>-->
<!--            <label for="confirmation">I understand upon deletion the information can not be restored.</label>-->
<!--            <input type="checkbox" id="confirmation" name="confirmation" value="true">-->
<!--            <div class="modal-footer">-->
<!--                <input class="btn" id="primaryBtn" type="submit" value="Remove Trainer">-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

</body>
</html>