<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="|${group.groupName} - ${stream.name}|"></h1>
    <label>Name:</label>
    <label th:text="${trainee.firstName} + ' ' + ${trainee.lastName}"></label><br>
    <label>Trainer:</label>
    <label th:text="${trainer.firstName} + ' ' + ${trainer.lastName}"></label><br>

    <label>Current Week: </label>
    <a th:text="${currentWeek}"></a><br>

    <form method="get" th:action="@{/feedback}">
        <select name="id">
            <option th:each="feedback, iterStat : ${feedbackWeeks}"
                    th:value="${feedback.value.feedbackId}"
                    th:text="|Week ${feedback.key}|">
            </option>
            <!--        <span class="status bg-color-red" th:classappend="${isSubmitted ? 'bg-color-green' : 'bg-color-amber'}"></span>-->
        </select><br>
        <button type="submit">View</button>
    </form>
</div>
</body>
</html>