<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>

<div class="container" id="table-details">
    <h1 class="pt-5 pb-3" th:text="${trainer.group.groupName} + ' - ' + ${trainer.group.stream.name}"></h1>
    <label class="pb-3" th:text="'Name: ' + ${trainer.firstName} + ' ' + ${trainer.lastName}">Trainer Name</label>
    <select class="form-select mt-3 mb-3" aria-label="Default select example" onchange="updateWeek(this)">
        <option th:each="i, iterStat : ${feedbacks}" th:value="${iterStat.count}" th:text="'Week ' + ${iterStat.count} + ' of ' + ${trainer.group.stream.duration}"></option>
    </select>

    <table th:each="i : ${#numbers.sequence(1,feedbacks.size())}" class="table table-hover table-responsive py-3" th:id="'traineeTable' + ${i}" th:hidden="${i} != 1">
        <thead>
        <tr>
            <th scope="col">Student Name</th>
            <th scope="col">Status</th>
            <th scope="col">Overdue</th>
        </tr>
        </thead>
        <tbody>
        <tr class="clickable" th:each="feedback : ${feedbacks.get(i)}" th:onclick="'javascript:rowClicked(' + ${feedback.feedbackId} + ')'">
            <td th:text="${feedback.trainee.firstName} + ' ' + ${feedback.trainee.lastName}"></td>
            <td th:text="${feedback.status.status}"></td>
            <td th:text="${feedback.overdue}"></td>
            <td>
                <form action="#" th:action="@{/removeTrainee}" method="get">
                    <input type="hidden" id="traineeId" name="traineeId" th:value="*{trainee.traineeEntity.traineeId}">
                    <button class="btn bg-color-red my-3 mx-1" data-bs-toggle="modal" th:attr="data-bs-target=${'#removeOldTrainee'}"
                            type="submit">Remove Trainee
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>


<div class="container text-center">
    <button type="button" class="btn bg-color-red my-3 mx-1" data-bs-toggle="modal"
            th:attr="data-bs-target=${'#addNewTrainee'}">Add Trainee
    </button>
    <button type="button" class="btn bg-color-red my-3 mx-1" data-bs-toggle="modal"
            th:attr="data-bs-target=${'#addNewGroup'}">Add Group
    </button>
</div>
<div th:insert="/fragments/trainer/newUserForm"></div>
<div th:insert="/fragments/trainer/newGroupForm"></div>
<script th:inline="javascript">
    function updateWeek(selected) {
        var tableDetails = document.getElementById("table-details");
        var tables = tableDetails.getElementsByTagName("TABLE");
        var i;

        for (i = 0; i < tables.length; i++) {
            tables[i].hidden = true;
        }
        document.getElementById('traineeTable' + selected.value).hidden = false;
    }
    function rowClicked(value) {
        location.href = "/feedback?id=" + value;
    }
</script>
</body>
</html>