<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1 th:text="|${group.groupName} - ${stream.name}|"></h1>
    <label>Name:</label>
    <label th:text="${trainee.firstName} + ' ' + ${trainee.lastName}"></label><br>
    <label>Trainer:</label>
    <label th:text="${trainer.firstName} + ' ' + ${trainer.lastName}"></label><br>

    <label>Current Week:</label>
    <a href="#"></a><br>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">Week
        </button>
        <select name="weeks">
            <option th:each="weekNumber : ${#numbers.sequence(1, duration)}"
                    th:value="${weekNumber}"
                    th:text="|Week ${weekNumber}|">Volvo</option>
        </select>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li class="list-item" th:each="weekNumber : ${#numbers.sequence(1, duration)}"
                th:value="${weekNumber}"
                th:text="|Week ${weekNumber}|">
                <!--<span class="status bg-color-red" th:classappend="${isSubmitted ? 'bg-color-green' : 'bg-color-amber'}"></span>-->
                <a class="dropdown-item" href="#"></a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#34beef"
                     class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                </svg>
            </li>
        </ul>
    </div>
</div>
</body>
</html>