<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{trainer/addGroup}" th:object="${newGroupForm}">
    <div th:attr="id=${'addNewGroup'}" class="modal fade rounded" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white d-flex">
                    <h4 class="fw-bold">Create new group</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <table class="w-100">
                        <tr>
                            <td><h5 class="fw-bold">Group Name</h5></td>
                        </tr>
                        <tr>
                            <td>Stream Name</td>
                            <td>
                                <div class="col-md-3">
                                    <select style="text-align-last: center" class="form-control" th:field="*{streamId}"
                                            required>
                                        <option value=""> -- </option>
                                        <option th:each="stream : ${allStreams}"
                                                th:value="${stream.streamId}"
                                                th:text="${stream.streamName}">
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Group Name</td>
                            <td>
                                <input type="text" th:field="*{groupName}" class="form-control" autofocus="autofocus" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Start Date</td>
                            <td>
                                <div class="form-group">
                                    <label for="date">Date:</label>
                                    <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker1"
                                               th:field="*{startDate}" id="date" placeholder="Date"/>
                                        <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Trainer to assign to this group:</td>
                            <td>
                                <div class="col-md-3">
                                    <select style="text-align-last: center" class="form-control" th:field="*{trainerId}"
                                            required>
                                        <option value=""> -- </option>
                                        <option th:each="trainer : ${allTrainers}"
                                                th:value="${trainer.trainerId}"
                                                th:text="${trainer.firstName} + ' ' + ${trainer.lastName}">
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button class="btn bg-color-red" data-bs-toggle="modal" type="submit">Create New Trainee</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $.fn.datetimepicker.Constructor.Default = $.extend({}, $.fn.datetimepicker.Constructor.Default, {
        icons: {
            time: 'far fa-clock',
            date: 'far fa-calendar',
            up: 'fas fa-arrow-up',
            down: 'fas fa-arrow-down',
            previous: 'fas fa-chevron-left',
            next: 'fas fa-chevron-right',
            today: 'far fa-calendar-check-o',
            clear: 'far fa-trash',
            close: 'far fa-times'
        } });

    $('#datetimepicker1').datetimepicker({
        format: 'DD/MM/YYYY h:mm A'
    });
</script>

</body>
</html>