<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="#" th:action="@{/addTrainee}">
    <div th:attr="id=${'addNewTrainee'}" class="modal fade rounded" tabindex="-1"
         aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header bg-dark text-white d-flex">
                    <h4 class="fw-bold">Add new trainee</h4>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body bg-dark text-white">
                    <table class="w-100">
                        <tr>
                            <td><h5 class="fw-bold">Trainee Name</h5></td>
                        </tr>
                        <tr>
                            <td>
                                Group to assign trainee to:
                            </td>
                            <td>
                            <div class="col-md-3">
                                <select style="text-align-last: center" class="form-control" type="Number" name="groupId"
                                        required>
                                    <option value=""> --</option>
                                    <option th:each="group : ${allGroups}"
                                            th:value="${group.groupId}"
                                            th:text="${group.groupName}"></option>
                                </select>
                            </div>
                            </td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>
                                <input type="text" name="firstName" class="form-control" autofocus="autofocus" required>
                            </td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>
                                <input type="text" name="lastName" class="form-control" required>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer bg-dark text-white">
                    <button class="btn bg-color-red" data-bs-toggle="modal" type="submit">Create New Trainee</button>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>